.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
  }
  
  .product-tile {
    border: 1px solid #dadada;
    background-color: var(--background-color);
    padding: 16px;
    text-align: center;
  }
  
  .product-tile img {
    max-width: 100%;
    height: auto;
  }
  
  .product-tile h2 {
    font-size: 1.5em;
    margin: 16px 0 8px;
  }
  
  .product-tile p {
    font-size: 1em;
    color: #555;
  }